/*
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMWXXWMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMXd:xNWKc..c0WNxcdXMMMMMWMMMMMMMMMM
MMMMMMMMMMMMMWWO; .l0x.    'x0l. ,OWMMMMMMMMMMMMMM
MMMMMMMMMMMMMXl. ,kO;  :xx:  ;Ok, .lXMWMMMMMMMMMMM
MMMMMMMMMMMW0, .lXWk. .xNNx. .OWXl. ,0MMMMMMMMMMMM
MMMMMMMMMMMM0, .dNMW0; .,,. ;0WMWd. ;0MMMMMMMMMMMM
MMMMMMMMNKKKKk' .oKKKO:    :OKK0o. 'kKKKKNWMMMMMMM
MMMMMMMWO,.....   .....    .....   .....,OWMMMMMMM
MMMMMMMMWk.  ;dd:. .cddddddddc. .:dd;  .kWMMMMMMMM
MMMMMMMMMMO, .xWNd. ;0MMMMMMK; .dNNx. ,OMMMMMMMMMM
MMMMMMMMMMM0;.lXWNx. ,0WMMW0, .xWMXc.;KMMMMMMMMMMM
MMMMMMMMMMMMXKWMMMWk' .OWWO. 'kWMMMNKNMWMMMMMMMMMM
MMMMMMMMMMMMMMMMMXXW0, .::. ,OWXXWMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMWx''kWK;    ;KWx''xWMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMM0; .dNd.  .dNd. ,0WMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMWK: .,. .. .'. :KMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMXl.  cOOc   lXMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMNo'oNMMNo'oNMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMNXWMMMMWXWMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
*/



body, html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', monospace;  
    background-color: black;
    color: red;
    font-size: 15px;
  }


  
  #terminal {
    padding: 10px;
  }
  
  #input-line {
    display: flex;
  }
  
  #prompt {
    margin-right: 5px;
  }
  
  input {
    outline: none;
    border: none;
    background-color: black;
    color: red;
    width: 100%;
    font-size: 15px;
    margin-left: 3px;
    font-family: 'Nunito', monospace;
  }
  


a {
    color: red;  
    text-decoration: none;  
  }
  
  a:hover {
    text-decoration: underline; 
  }
  

  #footer-text {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: red;
    background-color: black;
    font-family: 'Nunito', monospace;
  }

  #footer-text2 {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: red;
    background-color: black;
    font-family: 'Nunito', monospace;
  }
  
  .kontakt-tekst {
    text-align: center;
    font-size: 70px;
  }

  
