/*
-------------------
----///////////----
-----/////////-----
------///////------
-------/////-------
--------///--------
---------/---------
-------------------
*/



body, html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', monospace;  
    background-color: black;
    color: red;
    font-size: 15px;
  }


  
  #terminal {
    padding: 10px;
  }
  
  #input-line {
    display: flex;
  }
  
  #prompt {
    margin-right: 5px;
  }
  
  input {
    outline: none;
    border: none;
    background-color: black;
    color: red;
    width: 100%;
    font-size: 15px;
    margin-left: 3px;
    font-family: 'Nunito', monospace;
  }
  


a {
    color: red;  
    text-decoration: none;  
  }
  
  a:hover {
    text-decoration: underline; 
  }
  

  #footer-text {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: red;
    background-color: black;
    font-family: 'Nunito', monospace;
  }

  #footer-text2 {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: red;
    background-color: black;
    font-family: 'Nunito', monospace;
  }
  
  .kontakt-tekst {
    text-align: center;
    font-size: 70px;
  }

  
